[
    "Sword",
    "Forge",
    "Boots",
    "Map",
    "Camera",
    "Ghost",
    "FireScroll",
    "SoulCrystal",
    "RadiationCore",
    "GreedyPot",
    "SpiritCoin",
    "Chest",
    "MagicTreasureBag",
    "ElectricRod",
    "MagicWire",
    "Melter",
    "Phantom",
    "CursedSkull",
    "KingSkull",
    "GoldenLantern",
    "CharmingStaff",
    "WarpPortal",
]
