[
    "sword",
    "forge",
    "boots",
    "map",
    "camera",
    "ghost",
    "fire_scroll",
    "soul_crystal",
    "radiation_core",
    "greedy_pot",
    "spirit_coin",
    "chest",
    "magic_treasure_bag",
    "electric_rod",
    "magic_wire",
    "melter",
    "phantom",
    "cursed_skull",
    "king_skull",
    "golden_lantern",
    "charming_staff",
    "warp_portal",
    "solitude",
]
